/* Other CSS */
html{
  margin: 0;
  padding: 0;
}
body {
  background-color:rgb(255, 246, 167) ;
  min-height: 100%;
  display: flex;
  justify-content: center;
  
}
main {
  background: #ffbaba;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  min-height: 100px;
}
main ul li {
  text-align: center;
  margin: 0;
  list-style: none;
}
main ul img{
  width: 45px;
  height: 45px;
  display: inline-flex;
}
header {
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 0px;
}
#centerMain{
  background: #fd4444;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 100px;
}

.menu {
  height:75px;
  position:absolute;
  width:100%;
  /* from the right */
  right:1px;
  bottom: 0;
  display: inline-block;
  background-color: lightblue;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}
.menu button{
  outline: none;
  width: 25%;
  border-radius: 15px;
  margin-left:1px;
  margin-right:1px;
}
section {
  
  background-color: rgb(255, 246, 167);
  height: 1020px;
  width: 480px;
  overflow-y: hidden;
}
section:hover {
  overflow-y: scroll;
}

