/* using percents and em I can keep the site 'responsive' vs 'adaptive' */
/* add variable for repeating colors and sizes. */

body {
  background-color:#4c4e48 ;
  min-height: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
/*Section is the main content container*/
section {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
  background-image:url(./assets/images/green-ferns.jpg) ;
  background-size:100px 100px ;
  /* had to make the postion relative to bring the Menu div to the bottom. */
  position: relative;
  /* the height is calculated at 100% - the (<bannerSize>+<menuFooter>) */
  height: calc(100% - (75px + 10px));
  /* Adding 100px of header and 150px of footer */
  
  
  
  width: 480px;
  /* overflow-y: hidden; */
}
/* section:hover {
  overflow-y: scroll;
} */
main {
  width:100%;
  font-size: 1.5em;
  background: #354A18;
  /*text color*/
  color:whitesmoke;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  min-height: 100px;
  height: 100%;
  
}
main ul li {
  margin: 0;
  text-align: center;
  list-style: none;
}
main ul img{
  width: 45px;
  height: 45px;
  
  
}
main ul h4{
  display: inline-flex;
  
}
.scrollingText{
  position: absolute;
  left:50%;
  background: blue;
  
}
.scrollingText:hover{
  transform: translate(45px);
}
header {
  
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 0px;
}
#centerMain{
  background: #fd4444;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 100px;
}
/*Bottom Menu */
.menu {
  position: relative;/*Absolute works to bring the menu div down but only when .menu is inside of the 'section' div */
  height:75px;
  width:100%;
  
  bottom: 0;
  display: inline-block;
  background-color: #354A18;
  display: flex;
  
  
  justify-content: center;
}
.menu button{
  background: #F9EBF3;
  outline: none;
  width: 25%;
  height:2rem;
  padding:5px;
  padding-top:0;
  border-radius: 15px;
  margin-left:1px;
  margin-right:1px;
   
  
  align-items: center;
}


